.character {
  display: flex;
  flex-direction: column;
  height: 300px;
  text-decoration: none;
  border-radius: 15px;
}

.character img {
  border: 3px solid black;
  border-radius: 3%;
}

.character_name {
  position: relative;
  bottom: 80px;
  text-align: center;
  color: #000;
  background: #fff;
  padding: 5px 0;
  align-self: center;
  width: 50%;
  border-radius: 10px;
  border: 3px solid #000;
}

.character_not_favorited {
  border: none;
  cursor: pointer;
  color: white;
  z-index: 1;
  font-size: 3rem;
  position: relative;
  bottom: 350px;
  width: fit-content;
  background: transparent;
  left: 250px;
}

.character_favorited {
  border: none;
  cursor: pointer;
  color: yellow;
  z-index: 1;
  font-size: 3rem;
  position: relative;
  bottom: 350px;
  width: fit-content;
  background: transparent;
  left: 250px;
}

.character_not_favorited span:hover {
  color: yellow;
}
